@page "/"

<div class="jumbotron">
    <h1 class="display-4">Hello</h1>
    <p class="lead">You can track your weight using this app.</p>
    <hr class="my-4">
    <p>Just make a registeration and start log your food throughout the day.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="log" role="button">Log now</a>
    </p>
</div>
