@page "/my-day"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient Http

<h1>My Day</h1>

<CaloriesChart TodayCalories ="@TodayCalories"></CaloriesChart>

@code {
    public decimal TodayCalories { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        TodayCalories = await Http.GetFromJsonAsync<decimal>("FoodLogs/GetUserCalories");

        await base.OnInitializedAsync();
    }
}


@*Chart last 7 days calories*@

